@model L3Manager.Repository.Models.Cliente

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Te certeza que deseja excluir este cliente?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @{var tipo = Model.Tipo == true ? "Física" : "Jurídica";
                @Html.DisplayFor(model => tipo)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vencimento_Licenca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vencimento_Licenca)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
